[Unit]
Description=Prune build cache docker volumes

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/docker-volume-prune.sh
User=buildkite-agent
